@font-face {
  font-family: SFPro;
  src: url(./Assets/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF);
}
.family {
  font-family: "SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif";
}
.transition-width-and-radius {
  transition: width 0.5s ease, border-radius 0.5s ease;
  border-radius: 10px;
}
